@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.carousel-indicators,
.carousel-control-prev,
.carousel-control-next {
    display: none !important;
}